mat-list-item {
  margin-top: 6px;
}
.dialog-container {
  display: flex;
  flex-direction: column;
}
h1{
  text-align: center;
  background-color: #3F51B5;
  color: white;
  border-radius: 25px;
  margin-bottom: 0px;
}
