h1{
  padding: 8px;
  text-align: center;
  background-color: #3F51B5;
  color: white;
  border-radius: 25px;
  margin-bottom: 0px;
}
.mat-typography {
  padding: 30px;
  .width-inputs {
    width: 100%;
  }
}
